---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }} {{ site.last_name }} 
      <span class="d-none d-md-inline">({{ site.zh_name }})</span> <!-- Only show on wide screens -->
    </h1>
    <p class="d-inline d-md-none" style="font-size: 1.5rem;">{{ site.zh_name }}</p> <!-- Only show on narrow screens -->
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <h2>Bio</h2>
    <p>{{ page.profile.bios }}</p>

    <h2>Research Interests</h2>
    <p>My research interests lie in designing simple, elegant, and theoretically sound algorithms to address key challenges in Artificial Intelligence and Big Data processing. Specifically, my research focuses on the following areas:</p>
    <ul class="research-interests">
        <li><dt>Graph Algorithms and Graph Machine Learning</dt><dd>Designing efficient algorithms to process and learn from massive graph structures.</dd></li>
        <li><dt>Streaming Algorithms and Stream Machine Learning</dt><dd>Developing algorithms capable of handling and learning from continuous, real-time data streams.</dd></li>
        <li><dt>AI for Science</dt><dd>Applying graph machine learning to solve complex problems in biology, pharmaceuticals, and other scientific disciplines.</dd></li>
        <li><dt>AI for Social Science</dt><dd>Utilizing large language model (LLM)-based multi-agent systems to model intricate human social networks.</dd></li>
        <li><dt>AI for Databases</dt><dd>Leveraging machine learning techniques to optimize database systems for enhanced performance and efficiency.</dd></li>
    </ul>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>Selected Publications
        [<a href="{{ '/publications/' | relative_url }}" style="">Full List</a>]
      </h2>
      Note: Authors marked with * are the corresponding authors. Underline indicates that the author is/was my student/Postdoc. Papers marked with ** use alphabetic ordering of authors, following the convention of theoretical computer science.
      {% include selected_papers.liquid %}
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}

    <!-- Awards -->
    <h2>Awards</h2>
    {% include awards.liquid %}

    <!-- Services -->
    <h2>Services</h2>
    {% include services.liquid %}

    <!-- Talks -->
    <h2>Talks</h2>
    {% include talks.liquid %}

    <!-- Teaching -->
    <h2>Teaching</h2>
    {% include teaching.liquid %}
  </article>
</div>
